<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center; font-weight: bold;">
    <%=blocks.title%>
</h1>
<%-body -%>

</body>
</html>
