.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.button {
  /*background-color: white;*/
  /*border-color: #1155cc;*/
  /*color: #1155cc;*/
  outline: none;
  height: 30px;
  padding: 0 10px;
}

input {
  height: 26px;
  padding: 0;
}